	</br>
	<div id="header">
	<h><b>SIGNUP</b></h>
	</div>
	</br>
	</br>
	<form method = "post" >
	<label>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UserName : 
			<input type="text" name = "UserName" value="{{UserName}}">
	</label>
	</br>
	</br>
	<label>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password : 
			<input type="password" name = "Password" value="{{Password}}">
	</label>
	</br>
	</br>
	<label>
		Verify Password : 
			<input type="password" name = "VerifyPassword" value="{{VerifyPassword}}">
	</label>
	</br>
	</br>
	<label>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email : 
			<input type="text" name = "Email" value="{{Email}}">
	</label>
	</br>
	</br>
	<input type="submit" value="Submit">
	</form>